# Ignore bundled gems
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-wal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history, presentations, and any passwords in config.
.byebug_history

# Ignore environmental variables
.env*

# Ignore master key for decrypting credentials and symlinks.
/config/master.key

# Ignore storage
/storage/*
!/storage/.keep

# Ignore assets
/public/assets
.sprockets-manifest-*

# Ignore IDE files
.vscode
.idea
.DS_Store

# Ignore bootsnap cache
/tmp/cache
