<nav class="ft-bottom-nav d-lg-none">
  <%= link_to vendor_root_path, class: "ft-bottom-nav-item #{current_page?(vendor_root_path) ? 'active' : ''}" do %>
    <i class="bi bi-house"></i>
    Home
  <% end %>

  <div class="ft-bottom-nav-center">
    <%# Scanner button %>
    <a href="<%= vendor_scan_path %>" class="ft-fab-nav" aria-label="Scan QR code">
      <i class="bi bi-qr-code-scan"></i>
    </a>
  </div>

  <%= link_to vendor_tokens_path, class: "ft-bottom-nav-item #{request.path.start_with?('/vendor/tokens') ? 'active' : ''}" do %>
    <i class="bi bi-list-check"></i>
    Tokens
  <% end %>
</nav>
